<div id="<%= dom_id partner_category %>">
  <p>
    <strong>Name:</strong>
    <%= partner_category.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= partner_category.desc %>
  </p>

  <p>
    <strong>Image data:</strong>
    <%= partner_category.image_data %>
  </p>

</div>
