<h1>Editing partner category</h1>

<%= render "form", partner_category: @partner_category %>

<br>

<div>
  <%= link_to "Show this partner category", @partner_category %> |
  <%= link_to "Back to partner categories", partner_categories_path %>
</div>
