<h1>Editing si partnership</h1>

<%= render "form", si_partnership: @si_partnership %>

<br>

<div>
  <%= link_to "Show this si partnership", @si_partnership %> |
  <%= link_to "Back to si partnerships", si_partnerships_path %>
</div>
