<%= render "shared/header" %>

<section class="mt-50 mt-80-sm">
  <div class="container">
    <div class="partner-tab">

      <div class="tab-content mt-20" id="myTabContent">
        <div class="tab-pane fade show active" id="mosip-compliant" role="tabpanel" aria-labelledby="mosip-compliant-tab">
          <div class="row align-items-center">
            <% @partners.each do |partner| %>
                <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
                  <div class="m-auto">
                      <% if partner.image_url.present? %>
                        <%= image_tag partner.image_url, class: "w-80p" %>
                      <% else %>
                        <%= partner.name %>
                      <% end %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "shared/footer" %>
