<%= render "shared/header" %>

<section class="mt-50 mt-80-sm">
  <div class="container">
    <div class="partner-tab">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="partner1-tab" data-toggle="tab" href="#partner1" role="tab" aria-controls="partner1"
            aria-selected="true">Partner 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="partner2-tab" data-toggle="tab" href="#partner2" role="tab" aria-controls="partner2"
            aria-selected="false">Partner 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="partner3-tab" data-toggle="tab" href="#partner3" role="tab" aria-controls="partner3"
            aria-selected="false">Partner 3</a>
        </li>
      </ul>

      <div class="tab-content mt-20" id="myTabContent">
        <div class="tab-pane fade show active" id="partner1" role="tabpanel" aria-labelledby="partner1-tab">
          <div class="row">
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-1.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-2.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-3.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-4.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-5.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-6.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-7.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-8.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-7.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-8.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-9.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-10.png" class="w-80p">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="partner2" role="tabpanel" aria-labelledby="partner2-tab">
          <div class="row">
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-11.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-12.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-13.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-14.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-15.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-16.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-17.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-18.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-19.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-20.png" class="w-80p">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="partner3" role="tabpanel" aria-labelledby="partner3-tab">
          <div class="row">
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-21.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-22.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-23.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-24.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-25.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-26.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-27.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-28.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-29.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-30.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-31.png" class="w-80p">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
              <div class="m-auto">
                <img src="/images/partner/part-32.png" class="w-80p">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>