<div class="container mt-50 mt-80-sm mt-80-md">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Biometric Devices</a></li>
      <li class="breadcrumb-item active" aria-current="page">Iris</li>
    </ol>
  </nav>
</div>

<style>
  .breadcrumb {
    background-color: transparent;
  }

  .breadcrumb li {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #083880 !important;
  }

  .breadcrumb li a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #083880 !important;
  }

  @media (max-width: 767px){
    .breadcrumb li a {
      font-size: 16px;
    }

    .breadcrumb li {
      font-size: 16px;
    }
  }

</style>