<div class="container mt-30 mt-80-sm mt-80-md">
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
      <li class="mr-2"><a href="<%= root_path %>">Home /</a></li>

      <% @breadcrumbs.each do |breadcrumb| %>
        <% if breadcrumb[:path].nil? %>
          <li class="active">
            <%= breadcrumb[:label] %>
          </li>
        <% else %>
          <li>
            <%= link_to breadcrumb[:label], breadcrumb[:path] %>
          </li>
        <% end %>
      <% end %>

    </ul>
  </nav>
</div>





<style>
  .breadcrumb {
    background-color: transparent;
    padding-left: 0px
    ;
  }

  .breadcrumb li {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #083880 !important;
  }

  .breadcrumb li a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #083880 !important;
  }

  @media (max-width: 767px){
    .breadcrumb li a {
      font-size: 16px;
    }

    .breadcrumb li {
      font-size: 16px;
    }
  }

</style>