<section>
  <div class="bg-image-2 bg-img-style-1">
    <div class="container">
      <div class="py-50 py-30-sm">
        <div class="text-style-2 yellow fs-24-sm">
          Disclaimer:
        </div>
        <div class="mt-20">
          <p class="text-style-4 fs-16 fs-12-sm">
            Envisioned as a curated catalogue of
            pre-compliant solutions, the Marketplace allows MOSIP’s country partners to make informed decisions on vendors for
            their
            national Digital Public Infrastructure. As this initiative continues to grow, we are hopeful that it will help
            adopting
            countries avoid vendor lock-in, maintain best practices on global standards, and save precious time and resources as
            they develop their national ID systems.Envisioned as a curated catalogue of
            pre-compliant solutions, the Marketplace allows MOSIP’s country partners to make informed decisions on vendors for
            their
            national Digital Public Infrastructure. As this initiative continues to grow, we are hopeful that it will help
            adopting
            countries avoid vendor lock-in, maintain best practices on global standards, and save precious time and resources as
            they develop their national ID systems.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-image-1 bg-img-style-1">
  <div class="container">
    <div class="py-80 py-30-sm">
      <div class="row align-items-end">
        <div class="col-md-5">
          <div class="">
            <img src="/images/header/marketplace-logo.png" class="w-40p" />
          </div>
          <div class="mt-20">
            <div class="text-style-1 blue-4 lh-normal fs-16 fs-12-sm">
              An online space for adopting countries to discover MOSIP-compliant devices and software solutions.
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-50-sm">
          <div class="text-style-1 blue-4 lh-normal fs-16 fs-14-sm">
            Explore Solutions
          </div>
          <div class="mt-20 mt-10-sm">
            <a href="">
              <div class="text-style-4 fs-16 fs-14-sm grey-1">
                Initiatives for Technology Partners
              </div>
            </a>
          </div>
          <div class="mt-10 mt-10-sm">
            <a href="">
              <div class="text-style-4 fs-16 fs-14-sm grey-1">
                All Partners
              </div>
            </a>
          </div>
          <div class="mt-10 mt-10-sm">
            <a href="">
              <div class="text-style-4 fs-16 fs-14-sm grey-1">
                MOSIP Marketplace Policy
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 mt-50-sm">
          <div class="text-style-1 blue-4 lh-normal fs-16 fs-14-sm">
            Quick Links 
          </div>
          <div class="mt-20 mt-10-sm">
            <a href="">
              <div class="text-style-4 fs-16 fs-14-sm grey-1">
                About MOSIP
              </div>
            </a>
          </div>
          <div class="mt-10 mt-10-sm">
            <a href="">
              <div class="text-style-4 fs-16 fs-14-sm grey-1">
                mosip16.9
              </div>
            </a>
          </div>
          <div class="mt-10 mt-10-sm">
            <a href="">
              <div class="text-style-4 fs-16 fs-14-sm grey-1">
                Contact Us
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>