<h1>New product specification version</h1>

<%= render "form", product_specification_version: @product_specification_version %>

<br>

<div>
  <%= link_to "Back to product specification versions", product_specification_versions_path %>
</div>
