<h1>New product ftm certification</h1>

<%= render "form", product_ftm_certification: @product_ftm_certification %>

<br>

<div>
  <%= link_to "Back to product ftm certifications", product_ftm_certifications_path %>
</div>
