
/* text-styles */

.text-style-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #01A2FD;
}

.text-style-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #2C2C2C;
}

.text-style-2-valid {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px!important;
  color: #2C2C2C;
}

.text-style-3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.text-style-4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.text-style-5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 80px;
  color: #ffffff;
}

.text-style-6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 60px;
  color: #000000;
}

/* font-size */

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-25 {
  font-size: 25px;
}

.fs-30 {
  font-size: 30px;
}

.fs-40 {
  font-size: 40px;
}

.fs-50 {
  font-size: 50px;
}

.fs-55 {
  font-size: 55px;
}

.fs-60 {
  font-size: 60px;
}

.fs-70 {
  font-size: 70px;
}

.fs-80 {
  font-size: 80px;
}

.fs-100 {
  font-size: 100px;
}

.fs-110 {
  font-size: 110px;
}

/* font-weight */

.fw-300 {
  font-weight: 300;
}

/* colors */

.black {
  color: #000000;
}

.white {
  color: #ffffff;
}

.blue-1 {
  color: #01A2FD;
}

.blue-2 {
  color: #083880;
}

.blue-3 {
  color: #062E69;
}

.blue-4 {
  color: #004DAF;
}

.yellow {
  color: #FEC401;
}

.yellow-1 {
  color: #FEC302;
}

.yellow-2 {
  color: #F5BF21;
}

.grey-1 {
  color: #6A6A6A;
}

.grey-2 {
  color: #AEADAD;
}

.grey-3 {
  color: #575859;
}

.green {
  color: #048654;
}

.red {
  color: #E85456;
}

.orange {
  color: #EA8001;
}

/* margins */

.mt-80 {
  margin-top: 80px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-10em {
  margin-top: 10em;
}

.-mt-12p {
  margin-top: -12%;
}

.mb-15em {
  margin-bottom: 15em;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ml-15p {
  margin-left: 15%;
}

.ml-50 {
  margin-left: 50px;
}

.ml--10 {
  margin-left: -10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-50 {
  margin-right: 50px;
}

/* padding */

.p-style-1 {
  padding: 10px 30px;
}

.p-style-2 {
  padding: 50px 50px 100px 50px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py-7em {
  padding-top: 7em;
  padding-bottom: 7em;
}

.pl-5px {
  padding-left: 5px;
}

.pl-10px{
  padding-left: 10px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.p-50 {
  padding: 50px;
}

.pt-10em {
  padding-top: 10em;
}

.pt-20em {
  padding-top: 20em;
}

.py-10em {
  padding-top: 10em;
  padding-bottom: 10em;
}

/* bg */

.bg-style-1 {
  border-radius: 20px;
  /* padding: 20px 20px 0px 20px; */
  background-color: #ffffff;
}

.bg-style-2 {
  background: #01A2FD0A 4%;
  padding: 15px 50px;
  border-radius: 0px 0px 20px 20px;
}

.bg-style-3 {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 5px 10px;
  border: 1.06px solid #6A6A6A
}

.bg-style-4 {
  background-color: #ffffff;
  border-radius: 20px 20px 0px 0px;
  padding: 15px;
}

.bg-style-5 {
  background-color: #ffffff;
  border-radius: 0px 0px 20px 20px;
  padding: 15px;
}

.bg-style-6 {
  background-color: #FFC500;
  padding: 50px 80px;
  border-radius: 20px;
}

.form-style-1 {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
}

.bg-blue-style {
  background: linear-gradient(180deg, #054DC3 0%, #083880 100%);
  border-radius: 20px;
  padding: 30px;
}

.bg-grey-1 {
  background-color: #FAFAFA;
}

.bg-grey-2 {
  background-color: #F8F8F8;
}

.bg-green {
  background-color: #009D00;
}

.bg-yellow {
  background-color: #FFC500;
}

.bg-blue-1 {
  background-color: #F8FDFF;
}

.bg-blue-2 {
  background-color: #004DAF;
}

.bg-blue-3 {
  background-color: #002669;
}

.bg-blue-4 {
  background-color: #01A2FD;
}

.bg-orange {
  background-color: #E77605;
}

.bg-black {
  background-color: #000000 !important;
}

.bg-image-1 {
  background-image: url('images/home/home-bg-1.jpg');
}

.bg-image-2 {
  background-image: url('images/home/home-bg-2.jpg');
}

.bg-image-3 {
  background-image: url('images/solution/solution-bg-1.jpg');
}

.bg-image-4 {
  background-image: url('images/partner/partner-bg-1.png');
}

.bg-img-style-1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* border */

.border-grey-1 {
  border: 1.31px solid #D0D0D0;
}

.border-grey-2 {
  border: 1.5px solid #2C2C2C;
}

.border-grey-3 {
  border: 0.74px solid #6A6A6A;
}

.border-grey-4 {
  border: 1.5px solid #6A6A6A;
}

.border-right-1{
  border-right: 1.5px solid #2C2C2C;
}

.border-top-1 {
  border-top: 0.74px solid #6A6A6A;
}

.border-bottom-1 {
  border-bottom: 1px solid #004DAF
}

.border-none {
  border: none !important;
}

.border-style-1 {
  border-left: 2px solid #064BBB;
  height: 200px;
}

.d-block-lg {
  display: block;
}

.d-none-lg {
  display: none;
}

/* width */

.w-200 {
  width: 200px;
}

.w-80px {
  width: 80px;
}

.w-100px {
  width: 100px;
}

.w-100p {
  width: 100%;
}

.w-90p {
  width: 90%;
}

.w-80p {
  width: 80%;
}

.w-70p {
  width: 70%;
}

.w-75p {
  width: 75%;
}

.w-60p {
  width: 60% !important;
}

.w-50p {
  width: 50%;
}

.w-40p {
  width: 40% !important;
}

.w-30p {
  width: 30% !important;
}

.w-25p {
  width: 25%;
}

.w-fit {
  width: fit-content;
}

.mw-90p {
  max-width: 90%;
}

/* height */

.h-500px {
  height: 500px;
}

.h-550px {
  height: 550px;
}

.h-400px {
  height: 400px;
}

.h-200px {
  height: 200px;
}

.h-150px {
  height: 150px;
}

.h-70px {
  height: 70px;
}

.h-50px {
  height: 50px;
}

.h-30px {
  height: 30px;
}

.h-60vh {
  height: 60vh;
}

.h-70vh {
  height: 70vh;
}

/* button-styles */

.btn-style-1 {
  background-color: #01A2FD;
  color: #ffffff;
  border-radius: 30px !important;
  padding: 10px 20px !important;
  font-weight: 700 !important;
  font-size: 10px !important;
  font-family: "Montserrat", sans-serif;
}

.btn-style-2 {
  background-color: #01A2FD;
  color: #ffffff;
  border-radius: 30px !important;
  padding: 15px 30px !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  font-family: "Montserrat", sans-serif;
}

.btn-style-3 {
  background: #ffffff;
  border: 1px solid #004DAF !important;
  color: #004DAF;
  border-radius: 30px !important;
  padding: 5px 40px !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  font-family: "Montserrat", sans-serif;
}

/* border-radius */

.br-30 {
  border-radius: 30px;
}

.br-20 {
  border-radius: 20px;
}

.br-10 {
  border-radius: 10px;
}

.br-5 {
  border-radius: 5px;
}

.br-style-1 {
  border-radius: 20px 20px 0px 0px;
}

.br-style-2 {
  border-radius: 0px 0px 20px 20px;
}

/* positions */

.position-2 {
  position: sticky;
  top: 0px;
  z-index: 111;
}

.position-absolute-md {
  position: absolute;
}

.position-3 {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.position-4 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-0 {
  bottom: 0%;
}

.top--20em {
  top: -20em;
}

.top--9em {
  top: -9em;
}

.top--7p {
  top: -7%;
}

.top--9p {
  top: -9%;
}

.top-60 {
  top: 60px;
}

.top-70 {
  top: 70px;
}

/* containers */

.container-set-2 {
  padding-left: 80px !important;
  padding-right: 80px !important;
  max-width: 100% !important;
}

/* shadows */

.box-shadow-1 {
  box-shadow: 5px 5px 6px rgba(8, 56, 128, 0.4);
    /* Adjust the RGBA color for the desired shadow */
}

/* other-css */

.align-items-center-lg {
  align-items: center;
}

.d-flex-lg{
  display: flex;
}

.font-italic {
  font-style: italic;
}

.flex-wrap {
  flex-wrap: wrap;
}

.benefits-container ul li {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.lh-normal {
  line-height: normal;
}

.lh-1 {
  line-height: 1;
}

.object-cover {
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}

.cursor-1 {
  cursor: pointer;
}

.dot-style-1 {
  background-color: #ffffff;
  width: 8px;
  height: 8px;
}

.text-decor-none {
  text-decoration: none;
}

a:focus {
  box-shadow: none !important;
}

a:hover {
  text-decoration: none !important;
}

.partners-carousel .item {
  height: 500px;
}

.grid-view .col-lg-4{
  padding-left: 5px;
  padding-right: 5px;
}

.partner-img-container {
  width: 50%;
  height: 150px;
  /* Set a fixed height */
  display: flex;
  justify-content: center;
  /* Center images horizontally */
  align-items: center;
  /* Center images vertically */
  overflow: hidden;
  margin: auto;
  /* Hide overflow to maintain aspect ratio */
}

.partner-img-container img {
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* Maintain aspect ratio */
}

.partner-img-container img:hover {
  filter: grayscale(0%);
}



.solution-card .col-md-3 {
  padding-left: 5px;
  padding-right: 5px;
}

input:focus {
  box-shadow: none !important;
}

.form-style-1 label {
  color: #004DAF;
}

.form-style-1 .form-control {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #d8d8d8;
  border-radius: 0px;
  font-size: 12px;
}

.form-style-1 .form-group {
  font-size: 12px;
}

.form-style-1 .form-control::-webkit-input-placeholder{
  color: #bababa !important;
}

.form-style-1 .form-check-inline .form-check-label {
  color: #bababa;
}

.form-style-1 #message {
  background-color: #e5e5e5;
  border: none;
  border-radius: 20px;
  padding: 20px;
  resize: none;
}

.form-style-1 #message::-webkit-input-placeholder {
  color: #383838 !important;
}

.image-marquee {
  width: 100%;
  /* Full width of the container */
  overflow: hidden;
  /* Hide overflowing content */
  white-space: nowrap;
  /* Prevent images from wrapping */
}

.image-marquee img {
  display: inline-block;
  width: 100px;
  /* Set a fixed width for images */
  height: 75px;
  /* Set a fixed height for images */
  object-fit: contain;
  /* Ensure images cover the area without distortion */
  margin-right: 50px;
  margin-left: 50px;
  /* Spacing between images */
  filter: grayscale(100%);
  /* Optional: grayscale filter */
}

.image-marquee img:hover {
  filter: grayscale(0%);
}

.js-marquee {
  margin-right: 0px !important;
}

.partner-tab .nav-tabs {
  border-bottom: none;
}

.partner-tab .nav-tabs .nav-link.active{
  border: none;
  color: #004DAF;
}

.partner-tab .nav-tabs .nav-link{
  color: #2C2C2C;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: none;
}

.partner-tab .nav-tabs .nav-link:hover{
  border: none;
}

.accordion-1 .card {
  border: none;
}

.accordion-1 .card-header {
  background-color: transparent;
  border-bottom: none;
}

.accordion-1 .card-body {
  background-color: transparent;
}

.accordion-1 table {
  width: 100%;
}

.accordion-1 table td {
  padding: 15px;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  color: #2C2C2C;
  border-top: none;
}

.accordion-1 .btn-link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  color: #2C2C2C;
  font-family: "Montserrat", sans-serif !important;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none !important;
}

.accordion-1 .card-header {
  padding-left: 0px;
}

.accordion-1 .second-accor .card-body {
  padding: 20px;
  background-color: #FAFAFA !important;
  margin-left: 15px;
  margin-right: 15px;
}

.accordion-1 .table-striped tbody tr:nth-of-type(odd) {
  background-color: #F4F4F4;
}


.accordion-1 .btn-link:hover{
  color: #2C2C2C;
  text-decoration: none;
}

.sticky-sidebar {
  position: sticky;
  right: 0;
  bottom: 0;
  padding: 30px;
  background-color: #F8FDFF;
  overflow-y: auto;
  width: 100%;
  top: 10%;
  height: 90vh;
}

.active-icon {
  color: #2C2C2C;
}

.inactive-icon {
  color: #ababab;
}

.select2-1 .select2-container .select2-selection--single {
  height: 42px;
}

.select2-1 .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 42px;
  color: #2C2C2C;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.select2-1 .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 42px;
}

.select2-1 .select2-container--default .select2-selection--single {
  border: 1.5px solid #2C2C2C;
  border-radius: 10px;
}

.accordion-2 .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #007bff;
}

.accordion-2 .custom-control-label {
  padding-left: 0.25rem;
}

.accordion-2 .custom-collapse {
  border: none;
  background: none;
}

.accordion-2 .card {
  background-color: transparent;
  margin-top: 10px;
}

.accordion-2 .card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 5px 0px 5px 10px;
}

.accordion-2 .card-body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.accordion-2 .card-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #062E69;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.accordion-2 .custom-control-label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #062E69;
}

.accordion-2 .custom-control-label::before {
  background-color: transparent;
  border: 0.73px solid #083880;
  border-radius: 3px;
}

.accordion-2 .custom-control {
  margin-bottom: 5px;
  margin-top: 5px;
}

.accordion-2 .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #083880 !important;
}

.macp .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #083880 !important;
}

.accordion-2 .arrow-icon {
  margin-right: 10px;
}

.accordion-2 .form-control {
  border: 0.73px solid #083880 !important;
  background-color: #ffffff !important;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #062E69;
}

.scrollable-options {
  max-height: 170px;
  overflow-y: auto;
}

.scrollable-options-1 {
  max-height: 400px;
  overflow-y: auto;
}

/* owl-carousel-1 */

/* Web View */
.custom-carousel-1 .owl-prev,
.custom-carousel-1 .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-size: 20px 20px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.custom-carousel-1 .owl-prev {
  left: -30px;
}

.custom-carousel-1 .owl-prev img:focus-visible{
  outline: none;
}

.custom-carousel-1 .owl-next {
  right: -30px;
}

.custom-carousel-1 .owl-next img:focus-visible {
  outline: none;
}

/* Hide dots */
.custom-carousel-1 .owl-dots {
  display: none;
}

.custom-carousel-1.owl-carousel .owl-item img {
  width: 70%;
  margin: auto;
}

.toggle-icon {
  display: none !important;
}


@media (min-width: 992px) and (max-width: 1199.98px) {
  .p-0-lg {
    padding: 0 !important;
  }

  .ml-5p-pro {
    margin-left: 5%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .d-none-md {
    display: none !important;
  }

  .d-block-md {
    display: block !important;
  }

  .w-15p-md {
    width: 15% !important;
  }

  .w-60p-md {
    width: 60%;
  }

  .w-40p-md {
    width: 40%;
  }

  .mt-80-md {
    margin-top: 80px;
  }

  .mt-20-md {
    margin-top: 20px;
  }

  .ml-5p-md {
    margin-left: 5%;
  }
}

@media (max-width: 767px) {
  .d-none-sm {
    display: none !important;
  }

  .d-block-sm {
    display: block !important;
  }

  .align-items-baseline-sm {
    align-items: baseline;
  }

  .toggle-icon {
    display: block !important;
  }

  .w-30p-sm {
    width: 30% !important;
  }

  .w-35p-sm {
    width: 35% !important;
  }

  .w-70p-sm {
    width: 70%;
  }

  .w-100p-sm {
    width: 100%;
  }

  .w-auto-sm {
    width: auto;
  }

  .-mt-70-sm {
    margin-top: -70px;
  }

  .ml-0-sm {
    margin-left: 0px;
  }

  .mt-80-sm {
    margin-top: 80px;
  }

  .mt-60-sm {
    margin-top: 60px;
  }

  .mt-50-sm {
    margin-top: 50px;
  }

  .mt-30-sm {
    margin-top: 30px;
  }

  .mt-15-sm {
    margin-top: 15px;
  }

  .mt-20-sm {
    margin-top: 20px;
  }

  .mt-5em-sm {
    margin-top: 5em;
  }

  .h-200px-sm {
    height: 200px;
  }

  .bg-style-1 {
    border-radius: 20px;
  }

  .bg-style-2 {
    border-radius: 0px 0px 20px 20px;
    padding: 10px 30px;
  }
  
  .btn-style-2{
    font-size: 12px !important;
  }

  .partners-carousel .item {
    height: auto;
  }

  .bg-style-6{
    padding: 15px 30px;
  }

  .br-30-sm {
    border-radius: 30px;
  }

  .mx-10-sm{
    margin-left: 10px;
    margin-right: 10px;
  }

  .mx-5-sm {
    margin-left: 5px;
    margin-right: 5px;
  }

  .mx-0-sm {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .my-20-sm {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .py-20-sm {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .py-30-sm {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .py-2em-sm {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .p-style-2 {
    padding: 20px 20px 20px 20px;
  }

  .pr-80-sm {
    padding-right: 80px;
  }

  .pr-100-sm {
    padding-right: 100px;
  }

  .scrolling-content img{
    margin: 0px 25px 0px 25px;
    height: 50px;
  }

  .solution-card .col-md-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .fs-40-sm {
    font-size: 40px;
  }

  .fs-30-sm {
    font-size: 30px;
  }

  .fs-35-sm {
    font-size: 35px;
  }

  .fs-18-sm {
    font-size: 18px;
  }

  .fs-22-sm {
    font-size: 22px;
  }

  .fs-24-sm{
    font-size: 24px;
  }

  .fs-16-sm {
    font-size: 16px;
  }

  .fs-14-sm {
    font-size: 14px;
  }

  .fs-12-sm {
    font-size: 12px;
  }

  .fs-10-sm {
    font-size: 10px;
  }

  .top--10em-sm {
    top: -10em;
  }

  .accordion-1 .card-body{
    padding: 10px;
  }

  .accordion-1 table td{
    padding: 10px;
    font-size: 12px;
  }

  .accordion-1 .btn-link {
    font-size: 18px;
  }

  .position-relative-sm {
    position: relative;
  }

  .text-center-sm {
    text-align: center;
  }
  
  .form-style-1 {
    padding: 20px;
  }

  .sticky-sidebar {
    position: fixed;
    top: 0;
    left: -80%;
    padding: 30px 15px;
    /* Initially hidden off-screen */
    height: 100%;
    width: 80%;
    transition: left 0.3s ease-in-out;
    z-index: 1050;
    /* Ensure it appears above other content */
  }

  .sticky-sidebar.show {
    left: 0;
    /* Slide in from the left */
  }

  .toggle-icon {
    position: absolute;
    top: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    z-index: 1029;
    /* Ensure it appears above the sidebar */
  }

  #toggleOpen {
    left: 10px;
    top: 16%;
    /* Positioned initially on the left */
  }

  #toggleClose {
    right: 12px;
    display: none;
    /* Hide initially */
  }

  .sticky-sidebar.show #toggleClose {
    display: block;
  }
}

@media (max-width: 1900px) {
  .zoom {
    zoom: 1 !important;
  }
}

.link-hover-effect {
  color: #FFD700; /* Set the default text color */
  text-decoration: none; /* Remove default underline */
  transition: color 0.3s ease; /* Smooth transition effect */
}

.link-hover-effect:hover {
  color: #FFA500; /* Color change on hover */
  text-decoration: underline; /* Underline on hover */
}
