<div id="<%= dom_id mosip_compliance_status %>">
  <p>
    <strong>Name:</strong>
    <%= mosip_compliance_status.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= mosip_compliance_status.desc %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= mosip_compliance_status.is_active %>
  </p>

</div>
