<h1>Editing mosip compliance status</h1>

<%= render "form", mosip_compliance_status: @mosip_compliance_status %>

<br>

<div>
  <%= link_to "Show this mosip compliance status", @mosip_compliance_status %> |
  <%= link_to "Back to mosip compliance statuses", mosip_compliance_statuses_path %>
</div>
