<%= search_form_for @q do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Product Name" %>
    <%= f.text_field :name_cont %>
  </div>

  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>