<!-- Sort Dropdown -->
<div class="sort-options select2-1">
  <select id="sort-options" class="form-control select2">
    <option value="">Sort by</option>
    <option value="name_asc">Name (A-Z)</option>
    <option value="name_desc">Name (Z-A)</option>
  </select>
</div>
