<%= render "shared/header" %>

  <%= render "shared/breadcrumbs" %>

  <section class="container">
    <!-- Icons for Grid and List View -->
    <div class="text-right">
      <span class="cursor-1 fs-25"><i class="fas fa-th active-icon" id="grid-view-icon"></i></span>
      <span class="cursor-1 ml-2 fs-25"><i class="fas fa-list inactive-icon" id="list-view-icon"></i></span>
    </div>
  
    <!-- Header with Dropdown and Search Input -->
    <div class="row mt-10">
      <div class="col-md-6">
        <h2 class="text-style-2">Registration Devices</h2>
      </div>
      <div class="col-md-3">
        <div class="select2-1">
          <select class="form-control select2">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 mt-15-sm">
        <!-- <input type="text" class="form-control" placeholder="Search..."> -->
        <div class="d-flex align-items-center border-grey-2 br-10 p-2">
          <div class="pr-2 border-right-1 d-flex align-items-center"><img
              src="/images/product-main/search-1.png" width="20" height="20" alt="search"
              title="search" class=""></div>
          <div class="w-100p pl-3">
            <input type="text" class="form-control border-none p-0" placeholder="Search Here" aria-label="Search Here"
              aria-describedby="search">
          </div>
        </div>
      </div>
    </div>
  
  </section>

  <section class="d-flex mt-20">
    <div class="w-75p w-60p-md w-100p-sm">
      <div class="container">
        <div class="ml-15p mr-15 ml-5p-pro ml-5p-md mx-0-sm">
          <div class="row">
            <!-- Grid/List View Section -->
            <div class="col-lg-12">
              <div id="grid-view" class="grid-view">
                <div class="row">
                  <div class="col-lg-4 mt-30">
                    <div class="border-grey-3 br-35 cursor-1 cursor-1">
                      <div class="bg-style-4">
                        <div>
                          <img src="/images/product/prod-1.png" class="w-100 h-150px object-contain" alt="product-img">
                        </div>
                        <div class="text-right mt-1">
                          <img src="/images/product-main/info-1.png" width="20" height="20" alt="info" title="info" class="">
                        </div>
                      </div>
                      <div class="border-top-1 p-1">
                        <div class="bg-style-5">
                          <div class="text-style-1 fs-14">Gilles Leroux Industries</div>
                          <div class="mt-10 text-style-2 fs-18">DigitalPersona 4500 OEM Module</div>
                          <div class="mt-20">
                            <div class="d-flex align-items-center">
                              <div class="w-80px h-30px">
                                <img src="/images/product/compliant-a.png" alt="compliant-a" class="w-100 object-contain">
                              </div>
                              <div class="w-80px h-30px ml-3">
                                <img src="/images/product/compliant-b.png" alt="compliant-a" class="w-100 object-contain">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 mt-30">
                    <div class="border-grey-3 br-35 cursor-1">
                      <div class="bg-style-4">
                        <div>
                          <img src="/images/product/prod-1.png" class="w-100 h-150px object-contain" alt="product-img">
                        </div>
                        <div class="text-right mt-1">
                          <img src="/images/product-main/info-1.png" width="20" height="20" alt="info" title="info" class="">
                        </div>
                      </div>
                      <div class="border-top-1 p-1">
                        <div class="bg-style-5">
                          <div class="text-style-1 fs-14">Gilles Leroux Industries</div>
                          <div class="mt-10 text-style-2 fs-18">DigitalPersona 4500 OEM Module</div>
                          <div class="mt-20">
                            <div class="d-flex align-items-center">
                              <div class="w-80px h-30px">
                                <img src="/images/product/compliant-a.png" alt="compliant-a" class="w-100 object-contain">
                              </div>
                              <div class="w-80px h-30px ml-3">
                                <img src="/images/product/compliant-b.png" alt="compliant-a" class="w-100 object-contain">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 mt-30">
                    <div class="border-grey-3 br-35 cursor-1">
                      <div class="bg-style-4">
                        <div>
                          <img src="/images/product/prod-1.png" class="w-100 h-150px object-contain" alt="product-img">
                        </div>
                        <div class="text-right mt-1">
                          <img src="/images/product-main/info-1.png" width="20" height="20" alt="info" title="info" class="">
                        </div>
                      </div>
                      <div class="border-top-1 p-1">
                        <div class="bg-style-5">
                          <div class="text-style-1 fs-14">Gilles Leroux Industries</div>
                          <div class="mt-10 text-style-2 fs-18">DigitalPersona 4500 OEM Module</div>
                          <div class="mt-20">
                            <div class="d-flex align-items-center">
                              <div class="w-80px h-30px">
                                <img src="/images/product/compliant-a.png" alt="compliant-a" class="w-100 object-contain">
                              </div>
                              <div class="w-80px h-30px ml-3">
                                <img src="/images/product/compliant-b.png" alt="compliant-a" class="w-100 object-contain">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 mt-30">
                    <div class="border-grey-3 br-35 cursor-1">
                      <div class="bg-style-4">
                        <div>
                          <img src="/images/product/prod-1.png" class="w-100 h-150px object-contain" alt="product-img">
                        </div>
                        <div class="text-right mt-1">
                          <img src="/images/product-main/info-1.png" width="20" height="20" alt="info" title="info" class="">
                        </div>
                      </div>
                      <div class="border-top-1 p-1">
                        <div class="bg-style-5">
                          <div class="text-style-1 fs-14">Gilles Leroux Industries</div>
                          <div class="mt-10 text-style-2 fs-18">DigitalPersona 4500 OEM Module</div>
                          <div class="mt-20">
                            <div class="d-flex align-items-center">
                              <div class="w-80px h-30px">
                                <img src="/images/product/compliant-a.png" alt="compliant-a" class="w-100 object-contain">
                              </div>
                              <div class="w-80px h-30px ml-3">
                                <img src="/images/product/compliant-b.png" alt="compliant-a" class="w-100 object-contain">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 mt-30">
                    <div class="border-grey-3 br-35 cursor-1">
                      <div class="bg-style-4">
                        <div>
                          <img src="/images/product/prod-1.png" class="w-100 h-150px object-contain" alt="product-img">
                        </div>
                        <div class="text-right mt-1">
                          <img src="/images/product-main/info-1.png" width="20" height="20" alt="info" title="info" class="">
                        </div>
                      </div>
                      <div class="border-top-1 p-1">
                        <div class="bg-style-5">
                          <div class="text-style-1 fs-14">Gilles Leroux Industries</div>
                          <div class="mt-10 text-style-2 fs-18">DigitalPersona 4500 OEM Module</div>
                          <div class="mt-20">
                            <div class="d-flex align-items-center">
                              <div class="w-80px h-30px">
                                <img src="/images/product/compliant-a.png" alt="compliant-a" class="w-100 object-contain">
                              </div>
                              <div class="w-80px h-30px ml-3">
                                <img src="/images/product/compliant-b.png" alt="compliant-a" class="w-100 object-contain">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 mt-30">
                    <div class="border-grey-3 br-35 cursor-1">
                      <div class="bg-style-4">
                        <div>
                          <img src="/images/product/prod-1.png" class="w-100 h-150px object-contain" alt="product-img">
                        </div>
                        <div class="text-right mt-1">
                          <img src="/images/product-main/info-1.png" width="20" height="20" alt="info" title="info" class="">
                        </div>
                      </div>
                      <div class="border-top-1 p-1">
                        <div class="bg-style-5">
                          <div class="text-style-1 fs-14">Gilles Leroux Industries</div>
                          <div class="mt-10 text-style-2 fs-18">DigitalPersona 4500 OEM Module</div>
                          <div class="mt-20">
                            <div class="d-flex align-items-center">
                              <div class="w-80px h-30px">
                                <img src="/images/product/compliant-a.png" alt="compliant-a" class="w-100 object-contain">
                              </div>
                              <div class="w-80px h-30px ml-3">
                                <img src="/images/product/compliant-b.png" alt="compliant-a" class="w-100 object-contain">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 mt-30">
                    <div class="border-grey-3 br-35 cursor-1">
                      <div class="bg-style-4">
                        <div>
                          <img src="/images/product/prod-1.png" class="w-100 h-150px object-contain" alt="product-img">
                        </div>
                        <div class="text-right mt-1">
                          <img src="/images/product-main/info-1.png" width="20" height="20" alt="info" title="info" class="">
                        </div>
                      </div>
                      <div class="border-top-1 p-1">
                        <div class="bg-style-5">
                          <div class="text-style-1 fs-14">Gilles Leroux Industries</div>
                          <div class="mt-10 text-style-2 fs-18">DigitalPersona 4500 OEM Module</div>
                          <div class="mt-20">
                            <div class="d-flex align-items-center">
                              <div class="w-80px h-30px">
                                <img src="/images/product/compliant-a.png" alt="compliant-a" class="w-100 object-contain">
                              </div>
                              <div class="w-80px h-30px ml-3">
                                <img src="/images/product/compliant-b.png" alt="compliant-a" class="w-100 object-contain">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="list-view" class="list-view" style="display: none;">
                <div class="row mt-30">
                  <div class="col-lg-4"> 
                    <div class="border-grey-3 br-35 cursor-1 bg-grey-1 p-20">
                      <img src="images/product/prod-1.png" class="w-100 h-200px object-contain">
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="mt-15-sm">
                      <div class="text-style-1 fs-14">Gilles Leroux Industries</div>
                      <div class="mt-10 text-style-2 fs-18">DigitalPersona 4500 OEM Module</div>
                      <div class="text-style-3 fs-12-sm mt-10">
                        GLi’s ID CASE mobile registration station can be used for a wide range of applications: citizen identity registration
                        and verification, passport, identity cards, border security and law enforcement, transport security, drivers’ license,
                        vehicle registration and other fields.
                      </div>
                      <div class="mt-20">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center">
                            <div class="w-80px h-30px">
                              <img src="/images/product/compliant-a.png" alt="compliant-a" class="w-100 object-contain">
                            </div>
                            <div class="w-80px h-30px ml-3">
                              <img src="/images/product/compliant-b.png" alt="compliant-a" class="w-100 object-contain">
                            </div>
                          </div>
                          <div>
                            <button class="btn btn-style-1">
                              Read More
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-30">
                  <div class="col-lg-4"> 
                    <div class="border-grey-3 br-35 cursor-1 bg-grey-1 p-20">
                      <img src="images/product/prod-1.png" class="w-100 h-200px object-contain">
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="mt-15-sm">
                      <div class="text-style-1 fs-14">Gilles Leroux Industries</div>
                      <div class="mt-10 text-style-2 fs-18">DigitalPersona 4500 OEM Module</div>
                      <div class="text-style-3 fs-12-sm mt-10">
                        GLi’s ID CASE mobile registration station can be used for a wide range of applications: citizen identity registration
                        and verification, passport, identity cards, border security and law enforcement, transport security, drivers’ license,
                        vehicle registration and other fields.
                      </div>
                      <div class="mt-20">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center">
                            <div class="w-80px h-30px">
                              <img src="/images/product/compliant-a.png" alt="compliant-a" class="w-100 object-contain">
                            </div>
                            <div class="w-80px h-30px ml-3">
                              <img src="/images/product/compliant-b.png" alt="compliant-a" class="w-100 object-contain">
                            </div>
                          </div>
                          <div>
                            <button class="btn btn-style-1">
                              Read More
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><div class="row mt-30">
                  <div class="col-lg-4">
                    <div class="border-grey-3 br-35 cursor-1 bg-grey-1 p-20">
                      <img src="images/product/prod-1.png" class="w-100 h-200px object-contain">
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="mt-15-sm">
                      <div class="text-style-1 fs-14">Gilles Leroux Industries</div>
                      <div class="mt-10 text-style-2 fs-18">DigitalPersona 4500 OEM Module</div>
                      <div class="text-style-3 fs-12-sm mt-10">
                        GLi’s ID CASE mobile registration station can be used for a wide range of applications: citizen identity
                        registration
                        and verification, passport, identity cards, border security and law enforcement, transport security, drivers’
                        license,
                        vehicle registration and other fields.
                      </div>
                      <div class="mt-20">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center">
                            <div class="w-80px h-30px">
                              <img src="/images/product/compliant-a.png" alt="compliant-a" class="w-100 object-contain">
                            </div>
                            <div class="w-80px h-30px ml-3">
                              <img src="/images/product/compliant-b.png" alt="compliant-a" class="w-100 object-contain">
                            </div>
                          </div>
                          <div>
                            <button class="btn btn-style-1">
                              Read More
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-30">
                  <div class="col-lg-4">
                    <div class="border-grey-3 br-35 cursor-1 bg-grey-1 p-20">
                      <img src="images/product/prod-1.png" class="w-100 h-200px object-contain">
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="mt-15-sm">
                      <div class="text-style-1 fs-14">Gilles Leroux Industries</div>
                      <div class="mt-10 text-style-2 fs-18">DigitalPersona 4500 OEM Module</div>
                      <div class="text-style-3 fs-12-sm mt-10">
                        GLi’s ID CASE mobile registration station can be used for a wide range of applications: citizen identity
                        registration
                        and verification, passport, identity cards, border security and law enforcement, transport security, drivers’
                        license,
                        vehicle registration and other fields.
                      </div>
                      <div class="mt-20">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center">
                            <div class="w-80px h-30px">
                              <img src="/images/product/compliant-a.png" alt="compliant-a" class="w-100 object-contain">
                            </div>
                            <div class="w-80px h-30px ml-3">
                              <img src="/images/product/compliant-b.png" alt="compliant-a" class="w-100 object-contain">
                            </div>
                          </div>
                          <div>
                            <button class="btn btn-style-1">
                              Read More
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-30">
                  <div class="col-lg-4">
                    <div class="border-grey-3 br-35 cursor-1 bg-grey-1 p-20">
                      <img src="images/product/prod-1.png" class="w-100 h-200px object-contain">
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="mt-15-sm">
                      <div class="text-style-1 fs-14">Gilles Leroux Industries</div>
                      <div class="mt-10 text-style-2 fs-18">DigitalPersona 4500 OEM Module</div>
                      <div class="text-style-3 fs-12-sm mt-10">
                        GLi’s ID CASE mobile registration station can be used for a wide range of applications: citizen identity
                        registration
                        and verification, passport, identity cards, border security and law enforcement, transport security, drivers’
                        license,
                        vehicle registration and other fields.
                      </div>
                      <div class="mt-20">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center">
                            <div class="w-80px h-30px">
                              <img src="/images/product/compliant-a.png" alt="compliant-a" class="w-100 object-contain">
                            </div>
                            <div class="w-80px h-30px ml-3">
                              <img src="/images/product/compliant-b.png" alt="compliant-a" class="w-100 object-contain">
                            </div>
                          </div>
                          <div>
                            <button class="btn btn-style-1">
                              Read More
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-30">
                  <div class="col-lg-4">
                    <div class="border-grey-3 br-35 cursor-1 bg-grey-1 p-20">
                      <img src="images/product/prod-1.png" class="w-100 h-200px object-contain">
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="mt-15-sm">
                      <div class="text-style-1 fs-14">Gilles Leroux Industries</div>
                      <div class="mt-10 text-style-2 fs-18">DigitalPersona 4500 OEM Module</div>
                      <div class="text-style-3 fs-12-sm mt-10">
                        GLi’s ID CASE mobile registration station can be used for a wide range of applications: citizen identity
                        registration
                        and verification, passport, identity cards, border security and law enforcement, transport security, drivers’
                        license,
                        vehicle registration and other fields.
                      </div>
                      <div class="mt-20">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center">
                            <div class="w-80px h-30px">
                              <img src="/images/product/compliant-a.png" alt="compliant-a" class="w-100 object-contain">
                            </div>
                            <div class="w-80px h-30px ml-3">
                              <img src="/images/product/compliant-b.png" alt="compliant-a" class="w-100 object-contain">
                            </div>
                          </div>
                          <div>
                            <button class="btn btn-style-1">
                              Read More
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-30">
                  <div class="col-lg-4">
                    <div class="border-grey-3 br-35 cursor-1 bg-grey-1 p-20">
                      <img src="images/product/prod-1.png" class="w-100 h-200px object-contain">
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="mt-15-sm">
                      <div class="text-style-1 fs-14">Gilles Leroux Industries</div>
                      <div class="mt-10 text-style-2 fs-18">DigitalPersona 4500 OEM Module</div>
                      <div class="text-style-3 fs-12-sm mt-10">
                        GLi’s ID CASE mobile registration station can be used for a wide range of applications: citizen identity
                        registration
                        and verification, passport, identity cards, border security and law enforcement, transport security, drivers’
                        license,
                        vehicle registration and other fields.
                      </div>
                      <div class="mt-20">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center">
                            <div class="w-80px h-30px">
                              <img src="/images/product/compliant-a.png" alt="compliant-a" class="w-100 object-contain">
                            </div>
                            <div class="w-80px h-30px ml-3">
                              <img src="/images/product/compliant-b.png" alt="compliant-a" class="w-100 object-contain">
                            </div>
                          </div>
                          <div>
                            <button class="btn btn-style-1">
                              Read More
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-30">
                  <div class="col-lg-4">
                    <div class="border-grey-3 br-35 cursor-1 bg-grey-1 p-20">
                      <img src="images/product/prod-1.png" class="w-100 h-200px object-contain">
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="mt-15-sm">
                      <div class="text-style-1 fs-14">Gilles Leroux Industries</div>
                      <div class="mt-10 text-style-2 fs-18">DigitalPersona 4500 OEM Module</div>
                      <div class="text-style-3 fs-12-sm mt-10">
                        GLi’s ID CASE mobile registration station can be used for a wide range of applications: citizen identity
                        registration
                        and verification, passport, identity cards, border security and law enforcement, transport security, drivers’
                        license,
                        vehicle registration and other fields.
                      </div>
                      <div class="mt-20">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center">
                            <div class="w-80px h-30px">
                              <img src="/images/product/compliant-a.png" alt="compliant-a" class="w-100 object-contain">
                            </div>
                            <div class="w-80px h-30px ml-3">
                              <img src="/images/product/compliant-b.png" alt="compliant-a" class="w-100 object-contain">
                            </div>
                          </div>
                          <div>
                            <button class="btn btn-style-1">
                              Read More
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-30">
                  <div class="col-lg-4">
                    <div class="border-grey-3 br-35 cursor-1 bg-grey-1 p-20">
                      <img src="images/product/prod-1.png" class="w-100 h-200px object-contain">
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="mt-15-sm">
                      <div class="text-style-1 fs-14">Gilles Leroux Industries</div>
                      <div class="mt-10 text-style-2 fs-18">DigitalPersona 4500 OEM Module</div>
                      <div class="text-style-3 fs-12-sm mt-10">
                        GLi’s ID CASE mobile registration station can be used for a wide range of applications: citizen identity
                        registration
                        and verification, passport, identity cards, border security and law enforcement, transport security, drivers’
                        license,
                        vehicle registration and other fields.
                      </div>
                      <div class="mt-20">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center">
                            <div class="w-80px h-30px">
                              <img src="/images/product/compliant-a.png" alt="compliant-a" class="w-100 object-contain">
                            </div>
                            <div class="w-80px h-30px ml-3">
                              <img src="/images/product/compliant-b.png" alt="compliant-a" class="w-100 object-contain">
                            </div>
                          </div>
                          <div>
                            <button class="btn btn-style-1">
                              Read More
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-25p w-40p-md mt-30 w-auto-sm mb-5">
      <i id="toggleOpen" class="fas fa-arrow-right toggle-icon"></i>
      <div class="sticky-sidebar">
        <i id="toggleClose" class="fas fa-times toggle-icon d-none"></i>
        <div class="text-style-2 fs-18 blue-2 mb-3">
          FILTERS <span class="ml-2"><img src="/images/product-main/filter-1.png" width="20" height="20"></span>
        </div>
        <div id="filterAccordion" class="accordion-2">
          <!-- First Collapse -->
          <div class="card border-0">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#filterCollapseOne">
                <span>Device Category</span>
                <i class="fas fa-chevron-down arrow-icon"></i>
              </a>
            </div>
            <div id="filterCollapseOne" class="custom-collapse collapse show" data-parent="#filterAccordion">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="filterSelectAll1">
                  <label class="custom-control-label" for="filterSelectAll1">All Options</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="filterCheckbox1">
                  <label class="custom-control-label" for="filterCheckbox1">Registration Devices</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="filterCheckbox2">
                  <label class="custom-control-label" for="filterCheckbox2">Authentication Devices</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="filterCheckbox3">
                  <label class="custom-control-label" for="filterCheckbox3">ABIS</label>
                </div>
              </div>
            </div>
          </div>
          <!-- Second Collapse -->
          <div class="card border-0">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#filterCollapseTwo">
                <span>Brand</span>
                <i class="fas fa-chevron-down arrow-icon collapsed"></i>
              </a>
            </div>
            <div id="filterCollapseTwo" class="custom-collapse collapse show" data-parent="#filterAccordion">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="filterSelectAll2">
                  <label class="custom-control-label" for="filterSelectAll2">Select All</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="filterCheckbox4">
                  <label class="custom-control-label" for="filterCheckbox4">Option 1</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="filterCheckbox5">
                  <label class="custom-control-label" for="filterCheckbox5">Option 2</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="filterCheckbox6">
                  <label class="custom-control-label" for="filterCheckbox6">Option 3</label>
                </div>
              </div>
            </div>
          </div>
          <!-- Third Collapse -->
          <div class="card border-0">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#filterCollapseThree">
                <span>Price Range</span>
                <i class="fas fa-chevron-down arrow-icon collapsed"></i>
              </a>
            </div>
            <div id="filterCollapseThree" class="custom-collapse collapse show" data-parent="#filterAccordion">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="filterSelectAll3">
                  <label class="custom-control-label" for="filterSelectAll3">Select All</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="filterCheckbox7">
                  <label class="custom-control-label" for="filterCheckbox7">Option 1</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="filterCheckbox8">
                  <label class="custom-control-label" for="filterCheckbox8">Option 2</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="filterCheckbox9">
                  <label class="custom-control-label" for="filterCheckbox9">Option 3</label>
                </div>
              </div>
            </div>
          </div>
          <!-- Fourth Collapse -->
          <div class="card border-0">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#filterCollapseFour">
                <span>Rating</span>
                <i class="fas fa-chevron-down arrow-icon collapsed"></i>
              </a>
            </div>
            <div id="filterCollapseFour" class="custom-collapse collapse show" data-parent="#filterAccordion">
              <div class="card-body">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="filterSelectAll4">
                  <label class="custom-control-label" for="filterSelectAll4">Select All</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="filterCheckbox10">
                  <label class="custom-control-label" for="filterCheckbox10">Option 1</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="filterCheckbox11">
                  <label class="custom-control-label" for="filterCheckbox11">Option 2</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="filterCheckbox12">
                  <label class="custom-control-label" for="filterCheckbox12">Option 3</label>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between mt-10 align-items-center macp">
            <h5 class="text-style-1 pl-10px blue-3 fs-16 mb-0">MACP Certified</h5>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="macpCertified">
              <label class="custom-control-label" for="macpCertified"></label>
            </div>
          </div>
          <div class="card border-0">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#filterCollapseFive">
                <span>Rating</span>
                <i class="fas fa-chevron-down arrow-icon collapsed"></i>
              </a>
            </div>
            <div id="filterCollapseFive" class="custom-collapse collapse show" aria-labelledby="headingFive"
              data-parent="#filterAccordion">
              <div class="card-body mt-15">
                <input type="text" id="filterSearch" class="form-control mb-2" placeholder="Search...">
                <div class="scrollable-options">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="searchOption1">
                    <label class="custom-control-label" for="searchOption1">Option 1</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="searchOption2">
                    <label class="custom-control-label" for="searchOption2">Option 2</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="searchOption3">
                    <label class="custom-control-label" for="searchOption3">Option 3</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="searchOption4">
                    <label class="custom-control-label" for="searchOption4">Option 4</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="searchOption5">
                    <label class="custom-control-label" for="searchOption5">Option 5</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="searchOption6">
                    <label class="custom-control-label" for="searchOption6">Option 6</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="searchOption7">
                    <label class="custom-control-label" for="searchOption7">Option 7</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="searchOption8">
                    <label class="custom-control-label" for="searchOption8">Option 8</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="searchOption9">
                    <label class="custom-control-label" for="searchOption9">Option 9</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="searchOption10">
                    <label class="custom-control-label" for="searchOption10">Option 10</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <section>
    <%= render "shared/pagination" %>
  </section>
 
  <script>
  $(document).ready(function () {
    $(document).ready(function () {
      $('.select2').select2({
        minimumResultsForSearch: Infinity
      });
    });

    $('#grid-view-icon').click(function () {
      $('#grid-view').show();
      $('#list-view').hide();
      $(this).removeClass('inactive-icon').addClass('active-icon');
      $('#list-view-icon').removeClass('active-icon').addClass('inactive-icon');
    });

    $('#list-view-icon').click(function () {
      $('#grid-view').hide();
      $('#list-view').show();
      $(this).removeClass('inactive-icon').addClass('active-icon');
      $('#grid-view-icon').removeClass('active-icon').addClass('inactive-icon');
    });

  });

  $(document).ready(function () {
     

      $('#filterSelectAll1').click(function () {
        var isChecked = $(this).is(':checked');
        $('#filterCollapseOne .custom-control-input').not(this).prop('checked', isChecked);
      });
      $('#filterSelectAll2').click(function () {
        var isChecked = $(this).is(':checked');
        $('#filterCollapseTwo .custom-control-input').not(this).prop('checked', isChecked);
      });
      $('#filterSelectAll3').click(function () {
        var isChecked = $(this).is(':checked');
        $('#filterCollapseThree .custom-control-input').not(this).prop('checked', isChecked);
      });
      $('#filterSelectAll4').click(function () {
        var isChecked = $(this).is(':checked');
        $('#filterCollapseFour .custom-control-input').not(this).prop('checked', isChecked);
      });
      // Filter search functionality
      $('#filterSearch').on('input', function () {
        var searchText = $(this).val().toLowerCase();
        $('#filterCollapseFive .custom-control').each(function () {
          var optionText = $(this).text().toLowerCase();
          if (optionText.includes(searchText)) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      });
    });

    $(document).ready(function () {
      $('#toggleOpen').on('click', function () {
        $('.sticky-sidebar').addClass('show');
        $('#toggleOpen').addClass('d-none');
        $('#toggleClose').removeClass('d-none');
      });

      $('#toggleClose').on('click', function () {
        $('.sticky-sidebar').removeClass('show');
        $('#toggleClose').addClass('d-none');
        $('#toggleOpen').removeClass('d-none');
      });

      // Close sidebar when clicking outside
      $(document).on('click', function (event) {
        if (!$(event.target).closest('.sticky-sidebar, #toggleOpen').length) {
          $('.sticky-sidebar').removeClass('show');
          $('#toggleClose').addClass('d-none');
          $('#toggleOpen').removeClass('d-none');
        }
      });
    });


  </script>