<div id="<%= dom_id biometric %>">
  <p>
    <strong>Name:</strong>
    <%= biometric.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= biometric.desc %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= biometric.code %>
  </p>

</div>
