<h1>Editing biometric</h1>

<%= render "form", biometric: @biometric %>

<br>

<div>
  <%= link_to "Show this biometric", @biometric %> |
  <%= link_to "Back to biometrics", biometrics_path %>
</div>
