<div id="<%= dom_id enquiry %>">
  <p>
    <strong>Name:</strong>
    <%= enquiry.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= enquiry.email %>
  </p>

  <p>
    <strong>Enquiry type:</strong>
    <%= enquiry.enquiry_type %>
  </p>

</div>
