<h1>Editing system integrator</h1>

<%= render "form", system_integrator: @system_integrator %>

<br>

<div>
  <%= link_to "Show this system integrator", @system_integrator %> |
  <%= link_to "Back to system integrators", system_integrators_path %>
</div>
